.container {
  width: 100vw;
  height: 100vh;
  background-color: #f4f5f9;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.counter-warp {
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-image {
  width: 100%;
  height: 50%;
}

.header-content {
  display: flex;
  width: 100vw;
  padding: 50px 10px 30px 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.box {
  width: 350px;
  height: 50vh;
  position: relative;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 30px 20px;
}

.input-box {
  flex: 1;
  display: flex;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 0;
}

.login {
  display: flex;
  box-sizing: border-box;
  margin-top: 15px;
  width: 100%;
}

.login button {
  background: rgba(0, 110, 255, 1);
  border-radius: 30px;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  font-weight: 500;
}

.loginBtn {
  margin-top: 64px;
  background-color: white;
  border-radius: 24px;
  width: 100% !important;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
}

.list-item {
  display: flex;
  flex-direction: column;
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #333333;
  border-bottom: 1px solid #eef0f3;
}

.list-item .list-item-label {
  font-weight: 500;
  padding: 10px 0;
}